*.dbg
*.exe
*.bat
*.bmp
*.png
*.zip
*.rar
*.csv
cfg
*.wav
*.ogg
*.docx
*.xlsx
graphic/*
graphic_nonazi/*
graphic_original/*
graphic_original_nonazi/*
sound/*
save/*
replay/*
demos/*
music/*
lib/*
sdl2/*
graphic/*
backup/*
